In [2]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import scale, PolynomialFeatures
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsRegressor

from radio_snr import *

In [7]:
df = pd.read_csv('wspr_sample.csv', index_col=0)
df.head()

,spot,timestamp,reporter,reporter_grid,snr,frequency,tx_call,tx_grid,power,drift,distance,azimuth,band,version,code
4541493,1093722523,1520245320,DC5AL-R,JO31lk,9,7.040113,G0NJS,IO91vs,37,0,496,91,7,NaN,0
4692526,1093866340,1520259000,KA3JIJ,EM84cj,-27,10.140175,WB0KSL,EM28nu,37,0,1105,113,10,NaN,0
17907988,1107180087,1521372240,PI9ESA,JO22ff,-5,10.140179,IQ6KX,JN63so,20,0,1172,328,10,NaN,0
10270295,1099476317,1520727720,PA0EHG,JO22hb,-17,3.594176,PA7MDJ,JO21is,23,0,33,350,3,NaN,0
29854808,1119235300,1522494360,AG5OV,EL09,-10,7.040137,WA4KFZ,FM18gv,37,0,2236,249,7,1.9.0-rc3,0

In [8]:
df = preprocess_data(df)
df.head()

,spot,reporter,snr,frequency,tx_call,power,drift,distance,azimuth,band,version,code,rx_lat,rx_long,tx_lat,tx_long,day,hour
4541493,1093722523,DC5AL-R,9,7.040113,G0NJS,37,0,496,91,7,NaN,0,51.437500,6.958333,51.770833,-0.208333,17595,10
4692526,1093866340,KA3JIJ,-27,10.140175,WB0KSL,37,0,1105,113,10,NaN,0,34.395833,-83.791667,38.854167,-94.875000,17595,14
17907988,1107180087,PI9ESA,-5,10.140179,IQ6KX,20,0,1172,328,10,NaN,0,52.229167,4.458333,43.604167,13.541667,17608,11
10270295,1099476317,PA0EHG,-17,3.594176,PA7MDJ,23,0,33,350,3,NaN,0,52.062500,4.625000,51.770833,4.708333,17601,0
29854808,1119235300,AG5OV,-10,7.040137,WA4KFZ,37,0,2236,249,7,1.9.0-rc3,0,29.000000,-100.000000,38.895833,-77.458333,17621,11

In [9]:
targets = df['snr']
features = df[['power', 'frequency', 'drift', 'distance', 'azimuth', 'band', 'rx_lat', 'rx_long', 'tx_lat', 'tx_long', 'day', 'hour']]
features.head()

,power,frequency,drift,distance,azimuth,band,rx_lat,rx_long,tx_lat,tx_long,day,hour
4541493,37,7.040113,0,496,91,7,51.437500,6.958333,51.770833,-0.208333,17595,10
4692526,37,10.140175,0,1105,113,10,34.395833,-83.791667,38.854167,-94.875000,17595,14
17907988,20,10.140179,0,1172,328,10,52.229167,4.458333,43.604167,13.541667,17608,11
10270295,23,3.594176,0,33,350,3,52.062500,4.625000,51.770833,4.708333,17601,0
29854808,37,7.040137,0,2236,249,7,29.000000,-100.000000,38.895833,-77.458333,17621,11

In [5]:
# features.loc[:,:] = scale(features)
features = (features - features.mean())/features.std()
features.describe().round(5)

,power,frequency,drift,distance,azimuth,band,rx_lat,rx_long,tx_lat,tx_long,day,hour
count,15241.00000,15241.00000,15241.00000,15241.00000,15241.00000,15241.00000,15241.00000,15241.00000,15241.00000,15241.00000,15241.00000,15241.00000
mean,-0.00000,0.00000,0.00000,-0.00000,-0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,-0.00000
std,1.00000,1.00000,1.00000,1.00000,1.00000,1.00000,1.00000,1.00000,1.00000,1.00000,1.00000,1.00000
min,-4.13680,-0.69992,-5.52646,-0.79161,-1.56107,-0.76682,-7.23618,-2.41661,-9.01892,-2.43087,-1.61357,-1.85304
25%,-0.96196,-0.22268,0.18716,-0.49886,-0.93534,-0.23570,-0.29843,-1.00946,-0.31605,-1.02755,-0.83651,-0.79488
50%,0.00429,-0.07377,0.18716,-0.30355,-0.06474,-0.05866,0.29263,0.50918,0.22137,0.41970,-0.05946,0.11212
75%,0.97055,0.20201,0.18716,0.04482,0.98722,0.20690,0.51329,0.61464,0.53559,0.58631,0.82861,0.86795
max,3.73128,41.55586,5.90078,7.26487,1.70365,41.36862,1.57457,3.58487,2.53988,3.59290,1.71668,1.62378

In [6]:
mse = []
r2 = []
max_n = 100

for n in range(1, max_n):
    if n % 10 == 0:
        print(n)
    knn = KNeighborsRegressor(n_neighbors=n)
    tmp_mse = np.sqrt(-1*cross_val_score(knn, features, targets, scoring='neg_mean_squared_error').mean())
    mse.append(tmp_mse)
    knn.fit(features, targets)
    tmp_r2 = knn.score(features, targets)
    r2.append(tmp_r2)
    
err = pd.DataFrame()
err['num_neighbors'] = list(range(1,max_n))
err['test_rmse'] = mse
err['r^2'] = r2
err.sort_values('test_rmse').head()

10
20
30
40
50
60
70
80
90

    num_neighbors  test_rmse       r^2
52             53   9.135370  0.124779
53             54   9.136414  0.124768
54             55   9.136869  0.123761
51             52   9.136992  0.125185
49             50   9.137162  0.126633

In [7]:
dist_mse = []
dist_r2 = []
max_n = 100
for n in range(1, max_n):
    if n % 10 == 0:
        print(n)
    knn = KNeighborsRegressor(n_neighbors=n, n_jobs=-1, weights='distance')
    tmp_mse = np.sqrt(-1*cross_val_score(knn, features, targets, scoring='neg_mean_squared_error').mean())
    dist_mse.append(tmp_mse)
    knn.fit(features, targets)
    tmp_r2 = knn.score(features, targets)
    dist_r2.append(tmp_r2)
    
err = pd.DataFrame()
err['num_neighbors'] = list(range(1,max_n))
err['test_rmse'] = dist_mse
err['r^2'] = dist_r2
err.sort_values('test_rmse').head()

10
20
30
40
50
60
70
80
90

    num_neighbors  test_rmse       r^2
52             53   9.088586  0.999957
53             54   9.089461  0.999957
49             50   9.089666  0.999957
51             52   9.089725  0.999957
54             55   9.090295  0.999957

In [8]:
dist_sq_mse = []
dist_sq_r2 = []
max_n = 100
step = 5
for n in range(1, max_n, step):
    print(n)
    knn = KNeighborsRegressor(n_neighbors=n, weights=lambda x: 1.0/np.power(x+0.0001, 2))
    tmp_mse = np.sqrt(-1*cross_val_score(knn, features, targets, scoring='neg_mean_squared_error').mean())
    dist_sq_mse.append(tmp_mse)
    knn.fit(features, targets)
    tmp_r2 = knn.score(features, targets)
    dist_sq_r2.append(tmp_r2)
    
err = pd.DataFrame()
err['num_neighbors'] = list(range(1,max_n, step))
err['test_rmse'] = dist_sq_mse
err['r^2'] = dist_sq_r2
err.sort_values('test_rmse').head()

1
6
11
16
21
26
31
36
41
46
51
56
61
66
71
76
81
86
91
96

    num_neighbors  test_rmse       r^2
17             86   9.064719  0.999915
18             91   9.065375  0.999915
19             96   9.065831  0.999915
16             81   9.065974  0.999915
14             71   9.066815  0.999915

In [9]:
from itertools import combinations
feature_names = ['power', 'frequency', 'drift', 'distance', 'azimuth', 'band', 'rx_lat', 'rx_long', 'tx_lat', 'tx_long', 'day', 'hour']
best = pd.DataFrame(columns=['features', 'n_neighbors', 'test_rmse', 'r^2'])
pos = 0
for feat_num in range(1, 3):#len(feature_names)):
    for combo in combinations(feature_names, feat_num):
        max_n = 100
        step = 10
        tmp_mse = []
        tmp_r2 = []
        tmp_features = features[list(combo)]
        for n in range(1, max_n, step):
            knn = KNeighborsRegressor(n_neighbors=n, weights=lambda x: 1.0/np.power(x+0.0001, 2))
            tmp_mse.append(np.sqrt(-1*cross_val_score(knn, tmp_features, targets, scoring='neg_mean_squared_error').mean()))
            knn.fit(tmp_features, targets)
            tmp_r2.append(knn.score(tmp_features, targets))
        nparr = np.array(tmp_mse)
        maxidx = nparr.argmin()
        min_mse = nparr[maxidx]
        min_r2 = np.array(tmp_r2)[maxidx]
        min_n = list(range(1, max_n, step))[maxidx]
        best.loc[pos] = [combo, min_n, min_mse, min_r2]
        if pos<100 or pos % 100 == 0:
            print(combo, min_n, min_mse, min_r2)
        pos += 1
best.sort_values('test_rmse')

('power',) 91 9.478758085667753 0.02741525783678922
('frequency',) 71 9.432845388510598 0.05608333968583168
('drift',) 91 9.549850393303366 -0.011419753212440709
('distance',) 91 10.137734221714776 0.29568270411380104
('azimuth',) 61 9.68183088128469 0.03515747207891906
('band',) 71 9.522317362259901 0.000682746196057793
('rx_lat',) 91 9.58041098195236 0.0911003556545571
('rx_long',) 91 9.595529892518856 0.0929434893206037
('tx_lat',) 81 9.431884757703061 0.11088072822942174
('tx_long',) 91 9.488028988579407 0.1197346474700134
('day',) 91 9.603247334400981 -0.007707235760880726
('hour',) 91 9.58935608572616 -0.007857877167433136
('power', 'frequency') 51 9.271541703826328 0.11131505396974328
('power', 'drift') 91 9.472638692660158 0.03219489241052986
('power', 'distance') 91 10.428985209485298 0.6433292989745983
('power', 'azimuth') 91 10.257550417502603 0.2388357354473889
('power', 'band') 91 9.346475810636367 0.061575198068507746
('power', 'rx_lat') 91 9.981975018836332 0.2766614278984565
('power', 'rx_long') 91 9.98508289191567 0.2846527695071255
('power', 'tx_lat') 71 9.5017286485874 0.205742403082817
('power', 'tx_long') 91 9.49121568580529 0.21137471777804098
('power', 'day') 81 9.51607366906508 0.061508174272507876
('power', 'hour') 91 9.541855802978404 0.05145906887712426
('frequency', 'drift') 81 9.440790498762013 0.0606328944123985
('frequency', 'distance') 91 10.382305590635871 0.6058107601875591
('frequency', 'azimuth') 91 10.333313378785599 0.23444044208505432
('frequency', 'band') 71 9.432236999598167 0.05561042297962682
('frequency', 'rx_lat') 81 9.795888805233801 0.20406207450321123
('frequency', 'rx_long') 91 9.751600426924147 0.20824453842758361
('frequency', 'tx_lat') 31 9.588253758344369 0.24277940496408867
('frequency', 'tx_long') 61 9.557716599480516 0.2421877778555226
('frequency', 'day') 71 9.620841103939952 0.061116949127234976
('frequency', 'hour') 91 9.589425756170996 0.05519504034879996
('drift', 'distance') 91 10.299158428248848 0.4118258416759625
('drift', 'azimuth') 91 10.007908043553973 0.11011452959524515
('drift', 'band') 91 9.52718143654071 0.012003002927742368
('drift', 'rx_lat') 61 9.831333870175087 0.15499208950521437
('drift', 'rx_long') 91 9.84014174512921 0.15818754276394809
('drift', 'tx_lat') 91 9.599014097668489 0.15708200979376385
('drift', 'tx_long') 91 9.646080156673296 0.1686545757726463
('drift', 'day') 91 9.674784387183621 0.012786904231953722
('drift', 'hour') 91 9.662454181892988 0.0024183206927201883
('distance', 'azimuth') 91 9.91745660542096 0.8557416706952429
('distance', 'band') 91 10.447367245735725 0.5813880618404874
('distance', 'rx_lat') 91 9.964426886958718 0.8536797282955528
('distance', 'rx_long') 91 9.922841733235934 0.8523256386389532
('distance', 'tx_lat') 91 9.816079672842163 0.8606646897424335
('distance', 'tx_long') 91 9.83676520055268 0.8593444365619206
('distance', 'day') 91 11.091144142396578 0.8986534915962532
('distance', 'hour') 91 11.144772445705224 0.8814800961898924
('azimuth', 'band') 91 10.329659759137963 0.2037447502948989
('azimuth', 'rx_lat') 91 10.097029458940224 0.7493414682075921
('azimuth', 'rx_long') 91 10.177935230168101 0.7385323421470735
('azimuth', 'tx_lat') 91 10.178846332539397 0.761186227264733
('azimuth', 'tx_long') 91 10.1604565421944 0.7572117099658952
('azimuth', 'day') 91 11.746450150318264 0.5314945478305134
('azimuth', 'hour') 91 11.743854432491014 0.4564061671561526
('band', 'rx_lat') 81 9.791930529834984 0.18720522476277646
('band', 'rx_long') 91 9.759230426494604 0.1924823428272604
('band', 'tx_lat') 91 9.594438677818324 0.21686265480353872
('band', 'tx_long') 91 9.575343450280556 0.22699198719351654
('band', 'day') 91 9.59102824249484 0.040952456654711256
('band', 'hour') 91 9.572731294670758 0.04029909538362919
('rx_lat', 'rx_long') 91 9.6947795348079 0.16114999382229211
('rx_lat', 'tx_lat') 91 10.036555275997213 0.7757022485573495
('rx_lat', 'tx_long') 91 10.06425181705988 0.7786125439868539
('rx_lat', 'day') 91 11.139492330346021 0.4367887931765477
('rx_lat', 'hour') 91 11.00823007458191 0.40904479715880554
('rx_long', 'tx_lat') 91 10.115000209091999 0.766601887759081
('rx_long', 'tx_long') 91 9.982382436459261 0.7684100060834174
('rx_long', 'day') 91 11.125283098619166 0.4388937402690379
('rx_long', 'hour') 91 11.05719491653203 0.41031835323635923
('tx_lat', 'tx_long') 91 9.483892776246314 0.21619678121834582
('tx_lat', 'day') 91 11.046316754053107 0.4678130863912768
('tx_lat', 'hour') 91 10.936982666469891 0.4463205937826606
('tx_long', 'day') 91 11.00731249404462 0.4784212790115195
('tx_long', 'hour') 91 10.873091860831261 0.4490735371334348
('day', 'hour') 31 9.904061701765219 0.05323892624469484

                 features n_neighbors  test_rmse       r^2
12     (power, frequency)          51   9.271542  0.111315
16          (power, band)          91   9.346476  0.061575
8               (tx_lat,)          81   9.431885  0.110881
26      (frequency, band)          71   9.432237  0.055610
1            (frequency,)          71   9.432845  0.056083
23     (frequency, drift)          81   9.440790  0.060633
13         (power, drift)          91   9.472639  0.032195
0                (power,)          91   9.478758  0.027415
72      (tx_lat, tx_long)          91   9.483893  0.216197
9              (tx_long,)          91   9.488029  0.119735
20       (power, tx_long)          91   9.491216  0.211375
19        (power, tx_lat)          71   9.501729  0.205742
21           (power, day)          81   9.516074  0.061508
5                 (band,)          71   9.522317  0.000683
35          (drift, band)          91   9.527181  0.012003
22          (power, hour)          91   9.541856  0.051459
2                (drift,)          91   9.549850 -0.011420
30   (frequency, tx_long)          61   9.557717  0.242188
62           (band, hour)          91   9.572731  0.040299
60        (band, tx_long)          91   9.575343  0.226992
6               (rx_lat,)          91   9.580411  0.091100
29    (frequency, tx_lat)          31   9.588254  0.242779
11                (hour,)          91   9.589356 -0.007858
32      (frequency, hour)          91   9.589426  0.055195
61            (band, day)          91   9.591028  0.040952
59         (band, tx_lat)          91   9.594439  0.216863
7              (rx_long,)          91   9.595530  0.092943
38        (drift, tx_lat)          91   9.599014  0.157082
10                 (day,)          91   9.603247 -0.007707
31       (frequency, day)          71   9.620841  0.061117
..                    ...         ...        ...       ...
69     (rx_long, tx_long)          91   9.982382  0.768410
18       (power, rx_long)          91   9.985083  0.284653
34       (drift, azimuth)          91  10.007908  0.110115
64       (rx_lat, tx_lat)          91  10.036555  0.775702
65      (rx_lat, tx_long)          91  10.064252  0.778613
51      (azimuth, rx_lat)          91  10.097029  0.749341
68      (rx_long, tx_lat)          91  10.115000  0.766602
3             (distance,)          91  10.137734  0.295683
54     (azimuth, tx_long)          91  10.160457  0.757212
52     (azimuth, rx_long)          91  10.177935  0.738532
53      (azimuth, tx_lat)          91  10.178846  0.761186
15       (power, azimuth)          91  10.257550  0.238836
33      (drift, distance)          91  10.299158  0.411826
50        (azimuth, band)          91  10.329660  0.203745
25   (frequency, azimuth)          91  10.333313  0.234440
24  (frequency, distance)          91  10.382306  0.605811
14      (power, distance)          91  10.428985  0.643329
43       (distance, band)          91  10.447367  0.581388
76        (tx_long, hour)          91  10.873092  0.449074
74         (tx_lat, hour)          91  10.936983  0.446321
75         (tx_long, day)          91  11.007312  0.478421
67         (rx_lat, hour)          91  11.008230  0.409045
73          (tx_lat, day)          91  11.046317  0.467813
71        (rx_long, hour)          91  11.057195  0.410318
48        (distance, day)          91  11.091144  0.898653
70         (rx_long, day)          91  11.125283  0.438894
66          (rx_lat, day)          91  11.139492  0.436789
49       (distance, hour)          91  11.144772  0.881480
56        (azimuth, hour)          91  11.743854  0.456406
55         (azimuth, day)          91  11.746450  0.531495

[78 rows x 4 columns]

In [10]:
dist_sq_mse = []
dist_sq_r2 = []
max_n = 100
step = 1

select_feats = features[['tx_lat', 'frequency', 'power', 'tx_long']]
for n in range(1, max_n, step):
    print(n)
    knn = KNeighborsRegressor(n_neighbors=n, weights=lambda x: 1.0/np.power(x+0.0001, 2))
    tmp_mse = np.sqrt(-1*cross_val_score(knn, select_feats, targets, scoring='neg_mean_squared_error').mean())
    dist_sq_mse.append(tmp_mse)
    knn.fit(select_feats, targets)
    tmp_r2 = knn.score(select_feats, targets)
    dist_sq_r2.append(tmp_r2)
    
err = pd.DataFrame()
err['num_neighbors'] = list(range(1,max_n, step))
err['test_rmse'] = dist_sq_mse
err['r^2'] = dist_sq_r2
err.sort_values('test_rmse')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

    num_neighbors  test_rmse       r^2
98             99   9.629360  0.316406
97             98   9.629659  0.316954
96             97   9.629685  0.316635
95             96   9.629827  0.316827
94             95   9.629952  0.316892
93             94   9.630237  0.316818
59             60   9.630467  0.319521
92             93   9.630694  0.317056
60             61   9.630878  0.319480
85             86   9.630884  0.317657
87             88   9.630927  0.317219
90             91   9.630982  0.317121
86             87   9.631002  0.317272
84             85   9.631048  0.317643
89             90   9.631064  0.317175
88             89   9.631088  0.317251
91             92   9.631261  0.316926
83             84   9.631534  0.317478
81             82   9.631538  0.317604
71             72   9.631663  0.318728
57             58   9.631709  0.319889
58             59   9.631804  0.319753
56             57   9.631826  0.319972
77             78   9.631880  0.317671
66             67   9.631912  0.318549
72             73   9.631935  0.318168
75             76   9.631983  0.317960
78             79   9.631985  0.317836
67             68   9.632000  0.318779
79             80   9.632036  0.317626
..            ...        ...       ...
33             34   9.643101  0.324251
30             31   9.643564  0.324975
26             27   9.644705  0.326920
27             28   9.645017  0.326061
25             26   9.646665  0.327144
24             25   9.650513  0.328448
23             24   9.651796  0.328791
22             23   9.654225  0.329280
20             21   9.654690  0.331923
21             22   9.655158  0.330428
19             20   9.662918  0.332229
18             19   9.663867  0.333563
17             18   9.667536  0.335034
16             17   9.676586  0.337173
15             16   9.682872  0.338215
14             15   9.691562  0.339571
13             14   9.693796  0.341365
12             13   9.713631  0.344249
11             12   9.730205  0.346504
10             11   9.739698  0.349803
9              10   9.763054  0.353061
8               9   9.800665  0.357704
7               8   9.827707  0.362127
6               7   9.864675  0.371143
5               6   9.927752  0.382531
4               5  10.021023  0.399498
3               4  10.170958  0.421849
2               3  10.418536  0.455506
1               2  10.865132  0.491642
0               1  12.355498  0.498157

[99 rows x 3 columns]

In [11]:
dist_sq_mse = []
dist_sq_r2 = []
max_n = 100
step = 5

select_feats = features[['tx_lat', 'tx_long', 'distance', 'frequency']]
for n in range(1, max_n, step):
    print(n)
    knn = KNeighborsRegressor(n_neighbors=n, weights=lambda x: 1.0/np.power(x+0.0001, 2))
    tmp_mse = np.sqrt(-1*cross_val_score(knn, select_feats, targets, scoring='neg_mean_squared_error').mean())
    dist_sq_mse.append(tmp_mse)
    knn.fit(select_feats, targets)
    tmp_r2 = knn.score(select_feats, targets)
    dist_sq_r2.append(tmp_r2)
    
err = pd.DataFrame()
err['num_neighbors'] = list(range(1,max_n, step))
err['test_rmse'] = dist_sq_mse
err['r^2'] = dist_sq_r2
err.sort_values('test_rmse')

1
6
11
16
21
26
31
36
41
46
51
56
61
66
71
76
81
86
91
96

    num_neighbors  test_rmse       r^2
19             96   9.561921  0.902099
18             91   9.565880  0.902099
17             86   9.569608  0.902099
16             81   9.573312  0.902099
15             76   9.577797  0.902099
14             71   9.583213  0.902099
13             66   9.587326  0.902099
12             61   9.592763  0.902099
11             56   9.599310  0.902099
10             51   9.606850  0.902099
9              46   9.616100  0.902099
8              41   9.627910  0.902099
7              36   9.643152  0.902099
6              31   9.658170  0.902100
5              26   9.677173  0.902100
4              21   9.706358  0.902100
3              16   9.749061  0.902100
2              11   9.817826  0.902092
1               6   9.980561  0.902182
0               1  11.597876  0.944397

In [12]:
dist_sq_mse = []
dist_sq_r2 = []
max_n = 100
step = 1

select_feats = features[['tx_lat', 'tx_long', 'distance', 'frequency']]
log_targets = np.exp(targets)
for n in range(1, max_n, step):
    print(n)
    knn = KNeighborsRegressor(n_neighbors=n, weights='distance')#lambda x: 1.0/np.power(x+0.0001, 2))
    tmp_mse = np.sqrt(-1*cross_val_score(knn, select_feats, log_targets, scoring='neg_mean_squared_error').mean())
    dist_sq_mse.append(tmp_mse)
    knn.fit(select_feats, log_targets)
    tmp_r2 = knn.score(select_feats, log_targets)
    dist_sq_r2.append(tmp_r2)
    
err = pd.DataFrame()
err['num_neighbors'] = list(range(1,max_n, step))
err['test_rmse'] = dist_sq_mse
err['r^2'] = dist_sq_r2
err.sort_values('test_rmse')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

    num_neighbors     test_rmse  r^2
0               1  3.834376e+16  1.0
98             99  4.190542e+16  1.0
97             98  4.190923e+16  1.0
96             97  4.191313e+16  1.0
95             96  4.191586e+16  1.0
94             95  4.191978e+16  1.0
93             94  4.192388e+16  1.0
92             93  4.192683e+16  1.0
91             92  4.193075e+16  1.0
90             91  4.193509e+16  1.0
89             90  4.193952e+16  1.0
88             89  4.194358e+16  1.0
87             88  4.194797e+16  1.0
86             87  4.195253e+16  1.0
85             86  4.195730e+16  1.0
84             85  4.196218e+16  1.0
83             84  4.196304e+16  1.0
82             83  4.196624e+16  1.0
81             82  4.197133e+16  1.0
80             81  4.197653e+16  1.0
79             80  4.198068e+16  1.0
78             79  4.198612e+16  1.0
77             78  4.199148e+16  1.0
76             77  4.199567e+16  1.0
75             76  4.200008e+16  1.0
74             75  4.200506e+16  1.0
73             74  4.201114e+16  1.0
72             73  4.201736e+16  1.0
71             72  4.202313e+16  1.0
70             71  4.202894e+16  1.0
..            ...           ...  ...
30             31  4.254808e+16  1.0
29             30  4.257882e+16  1.0
28             29  4.260422e+16  1.0
27             28  4.264101e+16  1.0
26             27  4.268041e+16  1.0
25             26  4.271524e+16  1.0
24             25  4.272603e+16  1.0
23             24  4.277459e+16  1.0
22             23  4.280289e+16  1.0
21             22  4.285960e+16  1.0
20             21  4.290255e+16  1.0
19             20  4.292989e+16  1.0
18             19  4.297523e+16  1.0
17             18  4.304443e+16  1.0
16             17  4.309513e+16  1.0
15             16  4.323806e+16  1.0
14             15  4.331706e+16  1.0
13             14  4.335974e+16  1.0
12             13  4.348101e+16  1.0
11             12  4.350824e+16  1.0
10             11  4.369742e+16  1.0
9              10  4.390360e+16  1.0
8               9  4.419342e+16  1.0
4               5  4.450185e+16  1.0
7               8  4.457093e+16  1.0
5               6  4.468461e+16  1.0
6               7  4.479217e+16  1.0
1               2  4.527918e+16  1.0
3               4  4.557922e+16  1.0
2               3  4.824996e+16  1.0

[99 rows x 3 columns]

In [16]:
from sklearn.ensemble import AdaBoostRegressor

In [ ]:
dims = (100, 100) # n_neighbors, n_estimators
steps = (5, 50)

ensemble_mse = pd.DataFrame()
ensemble_r2 = pd.DataFrame()
for n_neighbors in range(steps[0], dims[0], steps[0]):
    knn = KNeighborsRegressor(n_neighbors=n_neighbors, weights=lambda x: 1.0/np.power(x+0.0001, 2))
    test_rmse = []
    r2 = []
    for n_estimators in range(steps[1], dims[1], steps[1]):
        print((n_neighbors, n_estimators))
        boost = AdaBoostRegressor(base_estimator=knn, n_estimators=n_estimators)
        test_rmse.append(np.sqrt(-1 * cross_val_score(boost, features, targets, scoring='neg_mean_squared_error').mean()))
        print(test_rmse[len(test_rmse)-1])
        boost.fit(features, targets)
        r2.append(boost.score(features, targets))
    ensemble_mse[n_neighbors] = test_rmse
    ensemble_r2[n_neighbors] = r2
ensemble_mse

(5, 50)
10.303455976839789
(10, 50)
9.728717997261686
(15, 50)
9.480199488541022
(20, 50)
9.388813353602131
(25, 50)
9.31429736806715
(30, 50)
9.273559617082222
(35, 50)
9.234801447121647
(40, 50)
9.223316924017615
(45, 50)
9.197911961875253
(50, 50)
9.18737162211913
(55, 50)
9.194979537582983
(60, 50)
9.1787072961684
(65, 50)
9.181251423749174
(70, 50)
9.170268432817005

In [ ]:
from sklearn.ensemble import BaggingRegressor
dims = (100, 100) # n_neighbors, n_estimators
steps = (5, 50)

ensemble_mse = pd.DataFrame()
ensemble_r2 = pd.DataFrame()
for n_neighbors in range(steps[0], dims[0], steps[0]):
    knn = KNeighborsRegressor(n_neighbors=n_neighbors, weights=lambda x: 1.0/np.power(x+0.0001, 2))
    test_rmse = []
    r2 = []
    for n_estimators in range(steps[1], dims[1], steps[1]):
        print((n_neighbors, n_estimators))
        boost = BaggingRegressor(base_estimator=knn, n_estimators=n_estimators)
        test_rmse.append(np.sqrt(-1 * cross_val_score(boost, features, targets, scoring='neg_mean_squared_error').mean()))
        print(test_rmse[len(test_rmse)-1])
        boost.fit(features, targets)
        r2.append(boost.score(features, targets))
    ensemble_mse[n_neighbors] = test_rmse
    ensemble_r2[n_neighbors] = r2
ensemble_mse

In [ ]:
boost_large_mse = pd.DataFrame()
boost_large_r2 = pd.DataFrame()

knn = KNeighborsRegressor(n_neighbors=n_neighbors, weights=lambda x: 1.0/np.power(x+0.0001, 2))
test_rmse = []
r2 = []
for n_estimators in range(steps[1], dims[1], steps[1]):
    print((n_neighbors, n_estimators))
    boost = AdaBoostRegressor(base_estimator=knn, n_estimators=500)
    test_rmse.append(np.sqrt(-1 * cross_val_score(boost, features, targets, scoring='neg_mean_squared_error').mean()))
    print(test_rmse[len(test_rmse)-1])
    boost.fit(features, targets)
    r2.append(boost.score(features, targets))
boost_large_mse[n_neighbors] = test_rmse
boost_large_r2[n_neighbors] = r2

In [ ]:
bagging_large_mse = pd.DataFrame()
bagging_large_r2 = pd.DataFrame()

knn = KNeighborsRegressor(n_neighbors=n_neighbors, weights=lambda x: 1.0/np.power(x+0.0001, 2))
test_rmse = []
r2 = []
for n_estimators in range(steps[1], dims[1], steps[1]):
    print((n_neighbors, n_estimators))
    boost = BaggingRegressor(base_estimator=knn, n_estimators=500)
    test_rmse.append(np.sqrt(-1 * cross_val_score(boost, features, targets, scoring='neg_mean_squared_error').mean()))
    print(test_rmse[len(test_rmse)-1])
    boost.fit(features, targets)
    r2.append(boost.score(features, targets))
bagging_large_mse[n_neighbors] = test_rmse
bagging_large_r2[n_neighbors] = r2

## Testing with PCA

In [3]:
from sklearn.decomposition import PCA

In [10]:
feats_std = (features - features.mean())/features.std()
feats_std.describe().round(5)

,power,frequency,drift,distance,azimuth,band,rx_lat,rx_long,tx_lat,tx_long,day,hour
count,15241.00000,15241.00000,15241.00000,15241.00000,15241.00000,15241.00000,15241.00000,15241.00000,15241.00000,15241.00000,15241.00000,15241.00000
mean,-0.00000,0.00000,0.00000,-0.00000,-0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,-0.00000
std,1.00000,1.00000,1.00000,1.00000,1.00000,1.00000,1.00000,1.00000,1.00000,1.00000,1.00000,1.00000
min,-4.13680,-0.69992,-5.52646,-0.79161,-1.56107,-0.76682,-7.23618,-2.41661,-9.01892,-2.43087,-1.61357,-1.85304
25%,-0.96196,-0.22268,0.18716,-0.49886,-0.93534,-0.23570,-0.29843,-1.00946,-0.31605,-1.02755,-0.83651,-0.79488
50%,0.00429,-0.07377,0.18716,-0.30355,-0.06474,-0.05866,0.29263,0.50918,0.22137,0.41970,-0.05946,0.11212
75%,0.97055,0.20201,0.18716,0.04482,0.98722,0.20690,0.51329,0.61464,0.53559,0.58631,0.82861,0.86795
max,3.73128,41.55586,5.90078,7.26487,1.70365,41.36862,1.57457,3.58487,2.53988,3.59290,1.71668,1.62378

In [14]:
pca = PCA(n_components=4)
pca.fit(feats_std)
pca_feats = pca.fit_transform(feats_std)
pca_feats = pd.DataFrame(pca_feats, columns=["PC"+str(i) for i in range(pca_feats.shape[1])])
pca_feats.head()

        PC0       PC1       PC2       PC3
0 -0.769986  0.628255 -0.014707  0.454797
1  1.002528 -1.175098  0.885207  0.508071
2 -0.425838  1.033223 -0.017978 -0.975244
3 -1.368270  0.418646  0.093124 -1.051260
4  1.113310 -1.732891  0.427119 -0.817783

In [15]:
pca_mse = []
pca_r2 = []
max_n = 100
step = 5
for n in range(1, max_n, step):
    print(n)
    knn = KNeighborsRegressor(n_neighbors=n) #weights=lambda x: 1.0/np.power(x+0.0001, 2))
    tmp_mse = np.sqrt(-1*cross_val_score(knn, pca_feats, targets, scoring='neg_mean_squared_error').mean())
    pca_mse.append(tmp_mse)
    knn.fit(features, targets)
    tmp_r2 = knn.score(features, targets)
    pca_r2.append(tmp_r2)
    
err = pd.DataFrame()
err['num_neighbors'] = list(range(1,max_n, step))
err['test_rmse'] = pca_mse
err['r^2'] = pca_r2
err.sort_values('test_rmse').head()

1
6
11
16
21
26
31
36
41
46
51
56
61
66
71
76
81
86
91
96

    num_neighbors  test_rmse       r^2
8              41   9.251347  0.101079
7              36   9.254017  0.105466
10             51   9.256030  0.092385
14             71   9.257373  0.081702
9              46   9.257470  0.095185

In [16]:
# location_feats = df[['rx_lat', 'rx_long', 'tx_lat', 'tx_long', 'distance', 'power']]
location_feats = df[['rx_lat', 'tx_lat', 'distance', 'power', 'frequency']]
location_feats = (location_feats - location_feats.mean())/location_feats.std()
# location_feats["band"] = location_feats["band"] * 1.48
targets = df['snr']

In [17]:
location_feats.describe()

             rx_lat        tx_lat      distance         power     frequency
count  1.524100e+04  1.524100e+04  1.524100e+04  1.524100e+04  1.524100e+04
mean   2.261074e-14  1.957769e-15 -1.277693e-17 -7.639676e-16  3.670197e-16
std    1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00
min   -7.236183e+00 -9.018916e+00 -7.916091e-01 -4.136801e+00 -6.999214e-01
25%   -2.984347e-01 -3.160459e-01 -4.988580e-01 -9.619623e-01 -2.226810e-01
50%    2.926267e-01  2.213677e-01 -3.035468e-01  4.292979e-03 -7.377080e-02
75%    5.132897e-01  5.355931e-01  4.482279e-02  9.705483e-01  2.020107e-01
max    1.574573e+00  2.539881e+00  7.264869e+00  3.731278e+00  4.155586e+01

In [18]:
loc_mse = []
loc_r2 = []
loc_test_r2 = []
max_n = 100
step = 1

for n in range(1, max_n, step):
    print(n)
    knn = KNeighborsRegressor(n_neighbors=n)
    tmp_mse = np.sqrt(-1*cross_val_score(knn, location_feats, targets, scoring='neg_mean_squared_error').mean())
    loc_mse.append(tmp_mse)
    tmp_test_r2 = cross_val_score(knn, location_feats, targets, scoring='r2').mean()
    loc_test_r2.append(tmp_test_r2)
    knn.fit(location_feats, targets)
    tmp_r2 = knn.score(location_feats, targets)
    loc_r2.append(tmp_r2)
    
err = pd.DataFrame()
err['num_neighbors'] = list(range(1,max_n, step))
err['test_rmse'] = loc_mse
err['train r^2'] = loc_r2
err['test r^2'] = loc_test_r2
err.sort_values('test_rmse')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

    num_neighbors  test_rmse  train r^2  test r^2
22             23   8.916277   0.210824  0.126572
24             25   8.916791   0.206499  0.126476
25             26   8.916979   0.202886  0.126442
23             24   8.918217   0.208687  0.126204
20             21   8.918425   0.217442  0.126177
39             40   8.919244   0.179471  0.126092
30             31   8.919581   0.192803  0.125983
21             22   8.919627   0.213145  0.125916
31             32   8.919650   0.190448  0.125975
35             36   8.920372   0.185252  0.125867
19             20   8.920443   0.221253  0.125780
36             37   8.920700   0.183899  0.125787
26             27   8.920976   0.199920  0.125666
34             35   8.921392   0.186627  0.125648
33             34   8.921395   0.187520  0.125628
40             41   8.921410   0.177917  0.125679
27             28   8.921493   0.198386  0.125584
49             50   8.921743   0.169579  0.125628
47             48   8.921757   0.171444  0.125632
37             38   8.922007   0.182729  0.125530
48             49   8.922064   0.170574  0.125571
32             33   8.922138   0.188897  0.125483
38             39   8.922296   0.181065  0.125487
46             47   8.922415   0.172099  0.125496
29             30   8.923571   0.194333  0.125195
50             51   8.924423   0.169249  0.125108
45             46   8.924813   0.173271  0.125024
28             29   8.925095   0.196125  0.124893
44             45   8.925359   0.174247  0.124919
41             42   8.926032   0.176720  0.124787
..            ...        ...        ...       ...
82             83   8.948577   0.150977  0.120298
83             84   8.950401   0.150348  0.119941
84             85   8.951430   0.150192  0.119732
85             86   8.952507   0.149787  0.119518
86             87   8.953775   0.148868  0.119274
89             90   8.954242   0.147626  0.119192
87             88   8.954594   0.148409  0.119118
88             89   8.954807   0.148165  0.119080
12             13   8.955361   0.251876  0.119057
90             91   8.955479   0.147100  0.118956
91             92   8.955551   0.146763  0.118934
94             95   8.956142   0.146041  0.118809
92             93   8.956228   0.146400  0.118803
93             94   8.956306   0.146251  0.118784
95             96   8.956806   0.145791  0.118678
97             98   8.959953   0.145055  0.118064
96             97   8.959970   0.145265  0.118054
98             99   8.960194   0.144868  0.118015
11             12   8.964156   0.260296  0.117301
10             11   8.980769   0.269302  0.113995
9              10   9.017540   0.277882  0.106683
8               9   9.055072   0.289752  0.099182
7               8   9.095603   0.307361  0.091185
6               7   9.130932   0.326765  0.084065
5               6   9.212498   0.349425  0.067654
4               5   9.313319   0.384169  0.047160
3               4   9.487514   0.433755  0.011148
2               3   9.752457   0.510721 -0.044816
1               2  10.235502   0.644568 -0.150791
0               1  11.536022   0.943594 -0.461541

[99 rows x 4 columns]