In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import scale, PolynomialFeatures
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsRegressor

from radio_snr import *

In [3]:
df = pd.read_csv('wspr_sample.csv', index_col=0)
df.head()

,spot,timestamp,reporter,reporter_grid,snr,frequency,tx_call,tx_grid,power,drift,distance,azimuth,band,version,code
4541493,1093722523,1520245320,DC5AL-R,JO31lk,9,7.040113,G0NJS,IO91vs,37,0,496,91,7,NaN,0
4692526,1093866340,1520259000,KA3JIJ,EM84cj,-27,10.140175,WB0KSL,EM28nu,37,0,1105,113,10,NaN,0
17907988,1107180087,1521372240,PI9ESA,JO22ff,-5,10.140179,IQ6KX,JN63so,20,0,1172,328,10,NaN,0
10270295,1099476317,1520727720,PA0EHG,JO22hb,-17,3.594176,PA7MDJ,JO21is,23,0,33,350,3,NaN,0
29854808,1119235300,1522494360,AG5OV,EL09,-10,7.040137,WA4KFZ,FM18gv,37,0,2236,249,7,1.9.0-rc3,0

In [4]:
df = preprocess_data(df)
df.head()

,spot,reporter,snr,frequency,tx_call,power,drift,distance,azimuth,band,version,code,rx_lat,rx_long,tx_lat,tx_long,day,hour
4541493,1093722523,DC5AL-R,9,7.040113,G0NJS,37,0,496,91,7,NaN,0,51.437500,6.958333,51.770833,-0.208333,17595,10
4692526,1093866340,KA3JIJ,-27,10.140175,WB0KSL,37,0,1105,113,10,NaN,0,34.395833,-83.791667,38.854167,-94.875000,17595,14
17907988,1107180087,PI9ESA,-5,10.140179,IQ6KX,20,0,1172,328,10,NaN,0,52.229167,4.458333,43.604167,13.541667,17608,11
10270295,1099476317,PA0EHG,-17,3.594176,PA7MDJ,23,0,33,350,3,NaN,0,52.062500,4.625000,51.770833,4.708333,17601,0
29854808,1119235300,AG5OV,-10,7.040137,WA4KFZ,37,0,2236,249,7,1.9.0-rc3,0,29.000000,-100.000000,38.895833,-77.458333,17621,11

In [86]:
targets = df['snr']
features = df[['power', 'frequency', 'drift', 'distance', 'azimuth', 'band', 'rx_lat', 'rx_long', 'tx_lat', 'tx_long', 'day', 'hour']]
features.head()

,power,frequency,drift,distance,azimuth,band,rx_lat,rx_long,tx_lat,tx_long,day,hour
4541493,37,7.040113,0,496,91,7,51.437500,6.958333,51.770833,-0.208333,17595,10
4692526,37,10.140175,0,1105,113,10,34.395833,-83.791667,38.854167,-94.875000,17595,14
17907988,20,10.140179,0,1172,328,10,52.229167,4.458333,43.604167,13.541667,17608,11
10270295,23,3.594176,0,33,350,3,52.062500,4.625000,51.770833,4.708333,17601,0
29854808,37,7.040137,0,2236,249,7,29.000000,-100.000000,38.895833,-77.458333,17621,11

In [87]:
features.loc[:,:] = scale(features)
features.describe()

/home/tom/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,power,frequency,drift,distance,azimuth,band,rx_lat,rx_long,tx_lat,tx_long,day,hour
count,1.524100e+04,1.524100e+04,1.524100e+04,1.524100e+04,1.524100e+04,1.524100e+04,1.524100e+04,1.524100e+04,1.524100e+04,1.524100e+04,1.524100e+04,1.524100e+04
mean,-1.409687e-16,-5.608298e-17,-6.134454e-16,-1.098495e-17,-5.812991e-17,-2.380194e-16,8.549759e-17,8.884115e-17,-6.110998e-16,4.401265e-17,1.635514e-13,-9.894104e-17
std,1.000033e+00,1.000033e+00,1.000033e+00,1.000033e+00,1.000033e+00,1.000033e+00,1.000033e+00,1.000033e+00,1.000033e+00,1.000033e+00,1.000033e+00,1.000033e+00
min,-4.136937e+00,-6.999444e-01,-5.526641e+00,-7.916351e-01,-1.561126e+00,-7.668448e-01,-7.236420e+00,-2.416686e+00,-9.019212e+00,-2.430953e+00,-1.613624e+00,-1.853105e+00
25%,-9.619939e-01,-2.226883e-01,1.871674e-01,-4.988743e-01,-9.353673e-01,-2.357083e-01,-2.984445e-01,-1.009491e+00,-3.160563e-01,-1.027582e+00,-8.365406e-01,-7.949063e-01
50%,4.293119e-03,-7.377322e-02,1.871674e-01,-3.035568e-01,-6.474661e-02,-5.866280e-02,2.926363e-01,5.091945e-01,2.213749e-01,4.197150e-01,-5.945738e-02,1.121212e-01
75%,9.705801e-01,2.020174e-01,1.871674e-01,4.482426e-02,9.872533e-01,2.069054e-01,5.133065e-01,6.146588e-01,5.356107e-01,5.863322e-01,8.286377e-01,8.679775e-01
max,3.731400e+00,4.155722e+01,5.900976e+00,7.265107e+00,1.703702e+00,4.136998e+01,1.574625e+00,3.584985e+00,2.539965e+00,3.593015e+00,1.716733e+00,1.623834e+00

In [30]:
mse = []
r2 = []
max_n = 100

for n in range(1, max_n):
    print(n)
    knn = KNeighborsRegressor(n_neighbors=n)
    tmp_mse = np.sqrt(-1*cross_val_score(knn, features, targets, scoring='neg_mean_squared_error').mean())
    mse.append(tmp_mse)
    knn.fit(features, targets)
    tmp_r2 = knn.score(features, targets)
    r2.append(tmp_r2)
    
err = pd.DataFrame()
err['num_neighbors'] = list(range(1,max_n))
err['test_rmse'] = mse
err['r^2'] = r2
err.sort_values('test_rmse')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

    num_neighbors  test_rmse       r^2
66             67   9.151579  0.115026
67             68   9.151620  0.114770
65             66   9.151727  0.115392
63             64   9.151919  0.116245
62             63   9.151957  0.116778
68             69   9.151961  0.114252
61             62   9.151965  0.117143
69             70   9.152620  0.113973
39             40   9.152756  0.134626
64             65   9.152921  0.115726
60             61   9.153347  0.117994
70             71   9.153548  0.113437
41             42   9.153571  0.132639
49             50   9.153625  0.125318
42             43   9.154111  0.131438
48             49   9.154372  0.125600
43             44   9.154452  0.130753
50             51   9.154874  0.124191
77             78   9.154899  0.109743
47             48   9.154954  0.126624
44             45   9.155271  0.129631
71             72   9.155333  0.113033
59             60   9.155355  0.118510
57             58   9.155761  0.119995
40             41   9.155959  0.134142
78             79   9.155974  0.109602
56             57   9.155999  0.120866
58             59   9.156122  0.119156
45             46   9.156171  0.128737
38             39   9.156549  0.135279
..            ...        ...       ...
29             30   9.163877  0.147187
28             29   9.164796  0.148879
26             27   9.170931  0.152753
25             26   9.172054  0.154320
27             28   9.172569  0.150775
24             25   9.177944  0.155859
23             24   9.181068  0.157030
22             23   9.182029  0.158380
21             22   9.184996  0.161992
20             21   9.197361  0.164148
19             20   9.202326  0.166056
18             19   9.205076  0.170053
17             18   9.215257  0.173252
16             17   9.228257  0.177164
15             16   9.239865  0.181078
14             15   9.252276  0.186125
13             14   9.276429  0.191989
12             13   9.295405  0.198470
11             12   9.316021  0.206635
10             11   9.358998  0.216562
9              10   9.380813  0.226763
8               9   9.405548  0.238459
7               8   9.454687  0.254304
6               7   9.503497  0.273735
5               6   9.596269  0.296795
4               5   9.712871  0.333761
3               4   9.887103  0.381150
2               3  10.154425  0.457502
1               2  10.723735  0.598777
0               1  12.302587  0.999828

[99 rows x 3 columns]

In [32]:
dist_mse = []
dist_r2 = []
max_n = 100
for n in range(1, max_n):
    print(n)
    knn = KNeighborsRegressor(n_neighbors=n, n_jobs=-1, weights='distance')
    tmp_mse = np.sqrt(-1*cross_val_score(knn, features, targets, scoring='neg_mean_squared_error').mean())
    dist_mse.append(tmp_mse)
    knn.fit(features, targets)
    tmp_r2 = knn.score(features, targets)
    dist_r2.append(tmp_r2)
    
err = pd.DataFrame()
err['num_neighbors'] = list(range(1,max_n))
err['test_rmse'] = dist_mse
err['r^2'] = dist_r2
err.sort_values('test_rmse')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

    num_neighbors  test_rmse       r^2
61             62   9.107438  0.999914
62             63   9.107650  0.999914
63             64   9.107689  0.999914
65             66   9.107711  0.999914
66             67   9.107766  0.999914
67             68   9.107830  0.999914
39             40   9.108141  0.999914
49             50   9.108150  0.999914
68             69   9.108188  0.999914
60             61   9.108411  0.999914
64             65   9.108546  0.999914
48             49   9.108554  0.999914
41             42   9.108914  0.999914
69             70   9.108950  0.999914
50             51   9.108985  0.999914
47             48   9.109213  0.999914
42             43   9.109322  0.999914
43             44   9.109470  0.999914
70             71   9.109698  0.999914
59             60   9.109867  0.999914
44             45   9.109914  0.999914
57             58   9.110131  0.999914
56             57   9.110311  0.999914
45             46   9.110396  0.999914
58             59   9.110508  0.999914
46             47   9.110522  0.999914
53             54   9.110591  0.999914
40             41   9.110827  0.999914
52             53   9.110912  0.999914
55             56   9.110938  0.999914
..            ...        ...       ...
97             98   9.119764  0.999914
28             29   9.120462  0.999914
27             28   9.127515  0.999914
26             27   9.127631  0.999914
25             26   9.128770  0.999914
24             25   9.134539  0.999914
23             24   9.137985  0.999914
22             23   9.140099  0.999914
21             22   9.144027  0.999914
20             21   9.155219  0.999914
19             20   9.160628  0.999914
18             19   9.163874  0.999914
17             18   9.174424  0.999914
16             17   9.187686  0.999914
15             16   9.199288  0.999914
14             15   9.213113  0.999914
13             14   9.235119  0.999914
12             13   9.254968  0.999914
11             12   9.275540  0.999914
10             11   9.315200  0.999914
9              10   9.340671  0.999914
8               9   9.371023  0.999914
7               8   9.421098  0.999914
6               7   9.473283  0.999914
5               6   9.566332  0.999914
4               5   9.688461  0.999914
3               4   9.864998  0.999914
2               3  10.141911  0.999914
1               2  10.724513  0.999914
0               1  12.302587  0.999828

[99 rows x 3 columns]

In [70]:
dist_sq_mse = []
dist_sq_r2 = []
max_n = 100
step = 5
for n in range(1, max_n, step):
    print(n)
    knn = KNeighborsRegressor(n_neighbors=n, weights=lambda x: 1.0/np.power(x+0.0001, 2))
    tmp_mse = np.sqrt(-1*cross_val_score(knn, features, targets, scoring='neg_mean_squared_error').mean())
    dist_sq_mse.append(tmp_mse)
    knn.fit(features, targets)
    tmp_r2 = knn.score(features, targets)
    dist_sq_r2.append(tmp_r2)
    
err = pd.DataFrame()
err['num_neighbors'] = list(range(1,max_n, step))
err['test_rmse'] = dist_sq_mse
err['r^2'] = dist_sq_r2
err.sort_values('test_rmse')

1
6
11
16
21
26
31
36
41
46
51
56
61
66
71
76
81
86
91
96

    num_neighbors  test_rmse       r^2
14             71   9.079061  0.999914
17             86   9.079363  0.999914
16             81   9.079411  0.999914
13             66   9.079896  0.999914
15             76   9.080299  0.999914
19             96   9.080321  0.999914
18             91   9.080447  0.999914
12             61   9.082759  0.999914
11             56   9.087751  0.999914
10             51   9.089681  0.999914
9              46   9.095526  0.999914
8              41   9.101665  0.999914
7              36   9.109728  0.999914
6              31   9.122881  0.999914
5              26   9.142469  0.999914
4              21   9.179716  0.999914
3              16   9.238333  0.999914
2              11   9.369085  0.999914
1               6   9.649455  0.999914
0               1  12.302587  0.999828

In [98]:
from itertools import combinations
feature_names = ['power', 'frequency', 'drift', 'distance', 'azimuth', 'band', 'rx_lat', 'rx_long', 'tx_lat', 'tx_long', 'day', 'hour']
best = pd.DataFrame(columns=['features', 'n_neighbors', 'test_rmse', 'r^2'])
pos = 0
for feat_num in range(1, 2):#len(feature_names)):
    for combo in combinations(feature_names, feat_num):
        max_n = 100
        step = 10
        tmp_mse = []
        tmp_r2 = []
        tmp_features = features[list(combo)]
        for n in range(1, max_n, step):
            knn = KNeighborsRegressor(n_neighbors=n, weights=lambda x: 1.0/np.power(x+0.0001, 2))
            tmp_mse.append(np.sqrt(-1*cross_val_score(knn, tmp_features, targets, scoring='neg_mean_squared_error').mean()))
            knn.fit(tmp_features, targets)
            tmp_r2.append(knn.score(tmp_features, targets))
        nparr = np.array(tmp_mse)
        maxidx = nparr.argmin()
        min_mse = nparr[maxidx]
        min_r2 = np.array(tmp_r2)[maxidx]
        min_n = list(range(1, max_n, step))[maxidx]
        best.loc[pos] = [combo, min_n, min_mse, min_r2]
        if pos<100 or pos % 100 == 0:
            print(combo, min_n, min_mse, min_r2)
        pos += 1
best.sort_values('test_rmse')

('power',) 91 9.478758085680653 0.02741525783678922
('frequency',) 71 9.432895514861354 0.056196173809713756
('drift',) 91 9.5498503933035 -0.011419753212440709
('distance',) 91 10.137755615401218 0.29568356556785036
('azimuth',) 61 9.68183069853553 0.03515747213593334
('band',) 71 9.522317362260113 0.000682746196057793
('rx_lat',) 91 9.58042232017845 0.09110042190079104
('rx_long',) 91 9.595534064159391 0.09294348562114818
('tx_lat',) 81 9.431848087194066 0.11088077779498273
('tx_long',) 91 9.487960764938306 0.11973300472404824
('day',) 91 9.603247334400981 -0.007707235760880726
('hour',) 91 9.58935608572616 -0.007857877167433136

        features n_neighbors  test_rmse       r^2
8      (tx_lat,)          81   9.431848  0.110881
1   (frequency,)          71   9.432896  0.056196
0       (power,)          91   9.478758  0.027415
9     (tx_long,)          91   9.487961  0.119733
5        (band,)          71   9.522317  0.000683
2       (drift,)          91   9.549850 -0.011420
6      (rx_lat,)          91   9.580422  0.091100
11       (hour,)          91   9.589356 -0.007858
7     (rx_long,)          91   9.595534  0.092943
10        (day,)          91   9.603247 -0.007707
4     (azimuth,)          61   9.681831  0.035157
3    (distance,)          91  10.137756  0.295684

In [97]:
dist_sq_mse = []
dist_sq_r2 = []
max_n = 100
step = 1

select_feats = features[['tx_lat', 'frequency', 'power', 'tx_long']]
for n in range(1, max_n, step):
    print(n)
    knn = KNeighborsRegressor(n_neighbors=n, weights=lambda x: 1.0/np.power(x+0.0001, 2))
    tmp_mse = np.sqrt(-1*cross_val_score(knn, select_feats, targets, scoring='neg_mean_squared_error').mean())
    dist_sq_mse.append(tmp_mse)
    knn.fit(select_feats, targets)
    tmp_r2 = knn.score(select_feats, targets)
    dist_sq_r2.append(tmp_r2)
    
err = pd.DataFrame()
err['num_neighbors'] = list(range(1,max_n, step))
err['test_rmse'] = dist_sq_mse
err['r^2'] = dist_sq_r2
err.sort_values('test_rmse')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

    num_neighbors  test_rmse       r^2
98             99   9.629329  0.316352
97             98   9.629613  0.316854
96             97   9.629653  0.316551
95             96   9.629745  0.316752
94             95   9.629940  0.316803
93             94   9.630201  0.316680
92             93   9.630679  0.316902
59             60   9.630701  0.319606
90             91   9.630919  0.317003
87             88   9.630921  0.317176
85             86   9.630924  0.317626
89             90   9.630970  0.317087
86             87   9.631006  0.317215
84             85   9.631035  0.317581
88             89   9.631069  0.317195
91             92   9.631222  0.316809
60             61   9.631396  0.319505
81             82   9.631543  0.317596
83             84   9.631579  0.317380
57             58   9.631875  0.319854
82             83   9.632056  0.317420
77             78   9.632064  0.317705
79             80   9.632083  0.317548
78             79   9.632120  0.317784
66             67   9.632122  0.318530
72             73   9.632129  0.318203
80             81   9.632171  0.317498
75             76   9.632177  0.317977
71             72   9.632225  0.318685
58             59   9.632312  0.319760
..            ...        ...       ...
30             31   9.643700  0.324883
28             29   9.643904  0.325091
26             27   9.644413  0.326433
27             28   9.645305  0.325942
25             26   9.646151  0.326752
24             25   9.650919  0.328004
23             24   9.652756  0.328439
22             23   9.653315  0.329022
20             21   9.654845  0.332014
21             22   9.656491  0.330392
19             20   9.662149  0.332193
18             19   9.664286  0.333669
17             18   9.670318  0.334927
16             17   9.677974  0.337240
15             16   9.685327  0.338255
14             15   9.693337  0.339882
13             14   9.695189  0.341672
12             13   9.715280  0.343977
11             12   9.731408  0.346257
10             11   9.738678  0.349578
9              10   9.761460  0.353105
8               9   9.798817  0.357478
7               8   9.828858  0.361810
6               7   9.862820  0.371173
5               6   9.930074  0.382282
4               5  10.017877  0.399139
3               4  10.178417  0.421001
2               3  10.422541  0.456099
1               2  10.878685  0.491439
0               1  12.357858  0.498157

[99 rows x 3 columns]

In [101]:
dist_sq_mse = []
dist_sq_r2 = []
max_n = 100
step = 1

select_feats = features[['tx_lat', 'tx_long', 'distance', 'frequency']]
for n in range(1, max_n, step):
    print(n)
    knn = KNeighborsRegressor(n_neighbors=n, weights='distance')#lambda x: 1.0/np.power(x+0.0001, 2))
    tmp_mse = np.sqrt(-1*cross_val_score(knn, select_feats, targets, scoring='neg_mean_squared_error').mean())
    dist_sq_mse.append(tmp_mse)
    knn.fit(select_feats, targets)
    tmp_r2 = knn.score(select_feats, targets)
    dist_sq_r2.append(tmp_r2)
    
err = pd.DataFrame()
err['num_neighbors'] = list(range(1,max_n, step))
err['test_rmse'] = dist_sq_mse
err['r^2'] = dist_sq_r2
err.sort_values('test_rmse')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

    num_neighbors  test_rmse       r^2
98             99   9.227409  0.972175
97             98   9.227534  0.972175
96             97   9.227830  0.972175
95             96   9.228389  0.972175
94             95   9.228795  0.972175
92             93   9.229775  0.972175
93             94   9.229815  0.972175
91             92   9.230507  0.972175
90             91   9.230880  0.972175
88             89   9.230889  0.972175
89             90   9.230976  0.972175
87             88   9.232105  0.972175
86             87   9.232337  0.972175
85             86   9.232933  0.972175
82             83   9.233590  0.972175
84             85   9.233622  0.972175
83             84   9.233639  0.972175
81             82   9.233769  0.972175
79             80   9.234153  0.972175
80             81   9.234314  0.972175
78             79   9.234801  0.972175
77             78   9.235473  0.972175
76             77   9.236355  0.972175
75             76   9.237190  0.972175
74             75   9.238062  0.972175
73             74   9.238684  0.972175
72             73   9.238906  0.972175
71             72   9.239855  0.972175
70             71   9.240348  0.972175
69             70   9.240375  0.972175
..            ...        ...       ...
29             30   9.304102  0.972175
28             29   9.306918  0.972175
27             28   9.310944  0.972175
26             27   9.312202  0.972175
25             26   9.317033  0.972175
24             25   9.325146  0.972175
23             24   9.331732  0.972175
22             23   9.339752  0.972175
21             22   9.343278  0.972175
20             21   9.349431  0.972175
19             20   9.356405  0.972175
18             19   9.366873  0.972175
17             18   9.376724  0.972175
16             17   9.388224  0.972175
15             16   9.397004  0.972175
14             15   9.409883  0.972175
13             14   9.430135  0.972175
12             13   9.443418  0.972175
11             12   9.458924  0.972175
10             11   9.478675  0.972165
9              10   9.505837  0.972159
8               9   9.535947  0.972159
7               8   9.580296  0.972169
6               7   9.617208  0.972165
5               6   9.684795  0.972163
4               5   9.777281  0.971926
3               4   9.912768  0.971730
2               3  10.127336  0.971545
1               2  10.548815  0.968589
0               1  11.593791  0.944397

[99 rows x 3 columns]

In [104]:
dist_sq_mse = []
dist_sq_r2 = []
max_n = 100
step = 1

select_feats = features[['tx_lat', 'tx_long', 'distance', 'frequency']]
log_targets = np.exp(targets)
for n in range(1, max_n, step):
    print(n)
    knn = KNeighborsRegressor(n_neighbors=n, weights='distance')#lambda x: 1.0/np.power(x+0.0001, 2))
    tmp_mse = np.sqrt(-1*cross_val_score(knn, select_feats, log_targets, scoring='neg_mean_squared_error').mean())
    dist_sq_mse.append(tmp_mse)
    knn.fit(select_feats, log_targets)
    tmp_r2 = knn.score(select_feats, log_targets)
    dist_sq_r2.append(tmp_r2)
    
err = pd.DataFrame()
err['num_neighbors'] = list(range(1,max_n, step))
err['test_rmse'] = dist_sq_mse
err['r^2'] = dist_sq_r2
err.sort_values('test_rmse')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

    num_neighbors     test_rmse  r^2
0               1  3.834376e+16  1.0
98             99  4.190542e+16  1.0
97             98  4.190923e+16  1.0
96             97  4.191313e+16  1.0
95             96  4.191586e+16  1.0
94             95  4.191978e+16  1.0
93             94  4.192388e+16  1.0
92             93  4.192683e+16  1.0
91             92  4.193075e+16  1.0
90             91  4.193509e+16  1.0
89             90  4.193952e+16  1.0
88             89  4.194358e+16  1.0
87             88  4.194797e+16  1.0
86             87  4.195253e+16  1.0
85             86  4.195730e+16  1.0
84             85  4.196218e+16  1.0
83             84  4.196304e+16  1.0
82             83  4.196624e+16  1.0
81             82  4.197133e+16  1.0
80             81  4.197653e+16  1.0
79             80  4.198068e+16  1.0
78             79  4.198612e+16  1.0
77             78  4.199148e+16  1.0
76             77  4.199567e+16  1.0
75             76  4.200008e+16  1.0
74             75  4.200506e+16  1.0
73             74  4.201114e+16  1.0
72             73  4.201736e+16  1.0
71             72  4.202313e+16  1.0
70             71  4.202894e+16  1.0
..            ...           ...  ...
30             31  4.254808e+16  1.0
29             30  4.257882e+16  1.0
28             29  4.260422e+16  1.0
27             28  4.264101e+16  1.0
26             27  4.268041e+16  1.0
25             26  4.271524e+16  1.0
24             25  4.272603e+16  1.0
23             24  4.277459e+16  1.0
22             23  4.280289e+16  1.0
21             22  4.285960e+16  1.0
20             21  4.290255e+16  1.0
19             20  4.292989e+16  1.0
18             19  4.297523e+16  1.0
17             18  4.304443e+16  1.0
16             17  4.309513e+16  1.0
15             16  4.323806e+16  1.0
14             15  4.331706e+16  1.0
13             14  4.335974e+16  1.0
12             13  4.348101e+16  1.0
11             12  4.350824e+16  1.0
10             11  4.369742e+16  1.0
9              10  4.390360e+16  1.0
8               9  4.419342e+16  1.0
4               5  4.450185e+16  1.0
7               8  4.457093e+16  1.0
5               6  4.468461e+16  1.0
6               7  4.479217e+16  1.0
1               2  4.527918e+16  1.0
3               4  4.557922e+16  1.0
2               3  4.824996e+16  1.0

[99 rows x 3 columns]