In [19]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
%matplotlib inline

# Linear Regression

In [20]:
# read data
df = pd.read_csv('wspr_sample.csv')
df.head(3)

,Unnamed: 0,spot,timestamp,reporter,reporter_grid,snr,frequency,tx_call,tx_grid,power,drift,distance,azimuth,band,version,code
0,4541493,1093722523,1520245320,DC5AL-R,JO31lk,9,7.040113,G0NJS,IO91vs,37,0,496,91,7,NaN,0
1,4692526,1093866340,1520259000,KA3JIJ,EM84cj,-27,10.140175,WB0KSL,EM28nu,37,0,1105,113,10,NaN,0
2,17907988,1107180087,1521372240,PI9ESA,JO22ff,-5,10.140179,IQ6KX,JN63so,20,0,1172,328,10,NaN,0

In [21]:
(train,test) = train_test_split(df,train_size=0.8,test_size=0.2)

In [22]:
features_train = train[['frequency', 'power', 'distance', 'azimuth', 'band']]
features_test = test[['frequency', 'power', 'distance', 'azimuth', 'band']]
features_train.head()

       frequency  power  distance  azimuth  band
4480    5.366113     30       237       39     5
13445   7.040046     37       639      296     7
14473   7.040160     37       988       67     7
2506    3.594041     30       187      173     3
3871   14.097077     37      2516      242    14

In [23]:
target_train = train.snr
target_test = test.snr
target_train.head()

4480      4
13445   -20
14473     2
2506    -10
3871    -15
Name: snr, dtype: int64

In [24]:
lr = LinearRegression()

In [25]:
lr.fit(features_train,target_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [26]:
mean_squared_error(target_test, lr.predict(features_test))

84.43652390600073